

@mixin custom-dekstop-device{
    @media only screen and (max-width: 1032px){
        @content;
    }
}

@mixin custom-tablet-device{
    @media (min-width: 700px) and (min-height: 1010px){
        @content;
    }
}

@mixin custom-tablet-device-lg{
    @media (min-width: 1000px) and (min-height: 1278px){
        @content;
    }
}

.navbar{

    background-color: #fff;
    z-index: 2000;
    width: 100%;

    padding: 1rem 0;

    @include custom-dekstop-device{
        > div.d-flex{
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &.fixed{
        position: fixed;
        top: 0;
        animation: fadeInDown 300ms ease-out;
        box-shadow: 0px 5px 52px -25px rgba(0,0,0,0.14);
    }

    @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
        }
      
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
    }

    .navbar-menu{

        position: relative;

        @include custom-dekstop-device{
            position: fixed;
            width: 100%;
            z-index: 100;
            background-color: #fff;
            top: 100px;
            bottom: 0;
            display: none;
        }

        ul{
            display: inline;
            padding-left: 0 !important;

            @include custom-dekstop-device{
                width: 70%;
            }

            li{
                position: relative;
                display: inline;
                font-weight: 700;

                @include custom-dekstop-device{
                    display: block;
                }

                a{
                    color: #232323;
                    font-size: 0.9rem !important;

                    @include custom-dekstop-device{
                        width: 100%;
                        font-size: 1rem !important;
                    }

                    img{
                        width: 14px;
                        height: 12px;
                        vertical-align: middle;
                        margin-left: 5px;
                        display: none;

                        @include custom-dekstop-device{
                            display: inline;
                        }
                    }

                }
                
                &:not(:nth-child(1)){
                    margin-left: 1rem;

                    @include custom-dekstop-device{
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }

                .dropdown{

                    position: absolute;
                    padding: 1rem;
                    display: none;
                    background-color: #fff;
                    z-index: 1000;
                    box-shadow: 0px 13px 35px -13px rgba(0,0,0,0.15);
                    border-radius: 5px;
                    max-width: 550px;
                    min-width: 245px;
                    width: 100%;
                    left: -15px;
                    top: 17px;
                    animation: dropdown-animation 310ms ease-out;

                    @include custom-dekstop-device{
                        position: relative;
                        display: block;
                        top: 0;
                        padding: 0.25rem 0.5rem;
                        margin-left: 1.3rem;
                        box-shadow: none;
                    }

                    @keyframes dropdown-animation{
                        from{
                            opacity: 0;
                            transform: translate3d(0, 100px, 0);
                        }

                        to{
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
                    }
        
                    ul{
                        list-style: none;
        
                        li{
                            display: block;
                            margin: 15px 0;
                            font-size: 0.875rem;
                            color: #232323;

                            > a{
                                &:hover , &:focus{
                                    color: $success-color;
                                }
                            }
                        }
                    }

                   
                }

                &:hover , &:focus{
                    > a{
                        color: $success-color;
                    }
                    

                    .dropdown{
                        display: block;
                    }
                }

                &:nth-child(n+7){
                    .dropdown{
                        left: -204px;
                    }
                }

                .btn.pengaduan{
                    border: #232323 1px solid;

                    @include custom-dekstop-device{
                        display: none;
                    }
                }
            }
        }


    }

    .navbar-logo{
        img{
            width: 280px;
        }
    }
}

.home-content{

    @include custom-tablet-device{
         div.d-flex{
            flex-direction: column-reverse;
        }
    }

    @include respond-to(tablet){
        div.d-flex{
            flex-direction: column-reverse;
        }
    }

    picture{
        position: relative;
        flex-basis: 43%;

        @include custom-tablet-device{
            flex-basis: 80%;
        }

        img{
            width: 335px;
            margin-top: 2rem;
            margin-left: 4rem;

            @include respond-to(mobile){
                width: 280px;
                margin-left: 0;
            }

            @include respond-to(tablet){
                margin-top: 0;
            }

            @include respond-to(dekstop){
                width: 320px;
            }

            
            @include custom-tablet-device{
                margin-left: 1rem;
                width: 450px !important;
                margin-top: 1rem;
            }

            @include custom-tablet-device-lg{
                width: 530px !important;
            }
        }
    }

    &__title{
        position: relative;
        flex-basis: 45%;
        margin-top: 4.1rem;


        @include respond-to(tablet){
            margin-top: 2rem;
        }

        @include custom-tablet-device{
            margin-top: 2rem;
        }

        @include respond-to(dekstop){
            margin-left: 1rem;
        }

        @include custom-tablet-device-lg{
            margin-top: 3rem;
        }

        @include respond-to(mobile){
            margin-top: 1rem;
            margin-left: 0;
        }

        h1{
            font-size: 2.34rem;
            font-family: $primary-fonts;
            font-weight: 900;
            color: $primary-color;
            line-height: 1.4;
            letter-spacing: 0.009em;

            @include respond-to(mobile){
                font-size: 1.6rem;
            }

            @include custom-tablet-device{
                font-size: 2.1rem;
            }

            @include respond-to(dekstop){
                font-size: 1.8rem;
            }

          
        }
    }

    &__button{
        margin-top: 2rem;

        .btn{
            font-size: 0.95rem;
            font-weight: 700;

            @include custom-tablet-device{
                display: none;
            }

            @include respond-to(tablet){
                display: none;
            }

            &:not(:nth-child(1)){
                margin-left: 4px;
            }
        }

        &--mobile{
            display: none;

            @include respond-to(tablet){
                display: none;
                margin-top: 2rem;
            }

            @include respond-to(tablet){
                display: block;
            }

            @include custom-tablet-device{
                display: block;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            a{
                @include respond-to(tablet){
                    font-size: 0.8rem;
                    padding: 0.56rem 0.75rem;
                }
            }

            
        }
    }

}

.berita-terikini-front{

    margin-top: 1rem;

    @include respond-to(tablet){
        margin-top: 2rem;
    }

    .lihat-semua-berita-front{
        display: inline;
        font-size: 0.75rem;
        margin-left: 7px;
    }

    .btn-next-prev{
        button{
            padding: 0.3rem 0.8rem;
            background-color: $primary-color;
            border: solid 1px $primary-color;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;

            &:nth-child(2){
                margin-left: 6px;
            }

            @include custom-tablet-device-lg{
                font-size: 1.188rem;
            }
        }
    }

    .slick-disabled {
        visibility: collapse;
        pointer-events:none;
        transition: all 300ms ease;
    }

    .title-news-box{
        font-size: 1rem;
        font-weight: 900;
        display: inline;
    }

    .slider-news{

        list-style: none;
        margin-top: 0;
        
        @include custom-tablet-device-lg{
            margin-top: 2rem;
        }
    
        .news-box{
    
            width: 310px;
            padding: 1rem;

            @include custom-tablet-device{
                width: 280px;
            }

            @include custom-tablet-device-lg{
                width: 360px;
            }

            img.img-front{
                width: 60px;
                height: 60px;
                object-fit: cover;
                margin-right: 8px;
                border-radius: 3px;
                opacity: 0.9;

                @include custom-tablet-device{
                    width: 100px;
                    height: 100px;
                }

                @include custom-tablet-device-lg{
                    width: 140px;
                    height: 140px;
                }
            }
        
            h4{
                font-size: 0.938rem;
                line-height: 1.5;
                font-weight: 700;

                @include custom-tablet-device-lg{
                    font-size: 1.1rem;
                }
        
                a{
                    color: $secondary-color;
                }
                
            }
        
            span{
                font-size: 0.75rem;
                color: rgb(82, 82, 82);
                font-weight: 500;
            }
        
            .time{
                margin-top: 0.5rem;

                img{
                    display: inline;
                }

                span{
                    display: inline;
                }
            }

            &.button-plus{
                button{
                    padding: 1rem;
                    border-radius: 50%;
                    border: dashed 2px $secondary-color;
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            > div{
                width: 100%;
            }
        }
    
    
    }
}

h1.head-title-first{
    font-size: 1.438rem;
    max-width: 500px;
    line-height: 1.4;
    font-family: $primary-fonts;
    color: $secondary-color;
    margin-top: 1.6rem;
}

.sorot{

    margin-top: 2rem;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
    &-image{

        position: relative;
        float: left;
        width: 40%;

        &__box{
            img{
                width: 100%;
                height: 320px;
                object-fit: cover;
            }
        }

        .slick-dots{
            display: flex;
            list-style: none;
            padding-left: 0;
            justify-content: center;
            margin-top: 8px;
            margin-bottom: 0;

            li{
                button{
                    font-size: 0;
                    width: 12px;
                    height: 12px;
                    padding: 0.5rem;
                    border-radius: 50%;
                    border: none;
                    background-color: #C4C4C4;
                }

                &.slick-active{
                   button{
                        background-color: $primary-color;
                   }
                }
                
                &:nth-child(n+2){
                    margin-left: 1rem;
                }
            }
        }
    }

    &-title{
      
        position: relative;
        float: left;
        width: 55%;
        margin-left: 1rem;

        &__box{

            h1{
                font-size: 1.688rem;
                font-weight: 900;
                line-height: 1.4;
                color: $secondary-color;
            }

            button{
                border: solid 1px $success-color;
                padding: 0.75rem 1.3rem; 
                font-size: 0.9rem;
                background-color: $success-color;
                font-weight: 600; 
                color: #fff;
                border-radius: 3px;
                cursor: pointer;
                margin-top: 2rem;
            }

        }

    }

}


.news-index{

    &__wrapper{

        display: flex;

        .news-left{

            position: relative;
            flex-basis: 30%;
            padding: 0.5rem;

            .news-terpopuler{

                margin-top: 2rem;

                .news-title{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                .media{

                    border: none;
    
                    &:nth-child(n+2){
                        margin-top: 1.5rem;
                    }
    
                    .media-image-wrapper{
    
                        flex-basis: 25%;
    
                        img.media-image{
                            width: 100%;
                            height: 80px;
                            object-fit: cover;
                            border-radius: 3px;
                            opacity: 0.9;
                        }
                    }
    
                    .media-body{
                        flex-basis: 75%;
                        padding: 0 7px;
    
                        h3{
                            font-size: 0.8rem;
                            font-weight: 900;
                            line-height: 1.7;
                            color: $secondary-color;
                            letter-spacing: 0.005em;
                            margin-bottom: 0.25rem;
                        }

                        .news-category{
                            font-size: 0.813rem;
                            font-weight: 400;
                            color: $success-color;
                        }

                        .inline{

                            margin-top: 0.25rem;

                            p{
                                font-size: 0.66rem;
                                display: inline;
                                
                                img{
                                    width: 0.6rem;
                                }
    
                                &:nth-child(2){
                                    img{
                                        margin-left: 7px;
                                    }
                                }
                               
                            }
                        }
    
                    }
                }

                .see-all{
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 0.8rem;
                    margin-top: 1.5rem;
                    font-family: $secondary-fonts;
                    font-weight: 600;
                    background-color: $primary-color ;
                    border: solid 1px $primary-color;
                    color: #fff;
                }

            }
            
            .news-video{

                margin-top: 2rem;

                .news-title{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                .see-all{
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 0.8rem;
                    margin-top: 1.5rem;
                    font-family: $secondary-fonts;
                    font-weight: 600;
                    background-color: $primary-color ;
                    border: solid 1px $primary-color;
                    color: #fff;
                }

                &__box{

                    &:nth-child(n+2){
                        margin-top: 1.5rem;
                    }

                    iframe{
                        border-radius: 3px;
                    }
    
                    h3{
                        font-size: 0.9rem;
                        font-weight: 900;
                        line-height: 1.4;
                        color: $secondary-color;
                        letter-spacing: 0.005em;
                        margin-top: 0.3rem;
                    }

                }

                
            }
           
        }
    
        .news-right{
            position: relative;
            flex-basis: 67%;
            padding: 0.5rem;

            .news-terkini{

                margin-top: 2rem;

                .news-title{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                .media{

                    border: none;

                    &:hover{

                        .media-image{
                            opacity: 1;
                        }

                        .media-body{
                            h3{
                                color: $primary-color;
                            }
                        }
                    }

                    &:nth-child(n+2){
                        margin-top: 1.5rem;
                    }
    
                    .media-image-wrapper{
                        flex-basis: 23%;
    
                        .media-image{
                            width: 100%;
                            height: 150px; 
                            object-fit: cover;
                            border-radius: 3px;
                            opacity: 0.9;
                        }
                    }
    
                    .media-body{
                        flex-basis: 75%;
                        padding: 0 0.5rem;
    
                        h3{
                            font-size: 1rem;
                            font-weight: 900;
                            line-height: 1.5;
                            color: $secondary-color;
                        }

                        .excerpt{
                            font-size: 0.8rem;
                            line-height: 1.5;
                            color: #636E72;
                            margin-top: 5px;
                            margin-bottom: 7px;
                        }

                        .news-category{
                            min-width: 170px;
                            font-size: 0.9rem;
                            font-weight: 400;
                            color: $success-color;
                            border-radius: 1px;
                        }

                        .inline{

                            margin-top: 0.4rem;

                            p{
                                font-size: 0.66rem;
                                display: inline;
                                color: $secondary-color;
                                
                                img{
                                    width: 0.6rem;
                                }
    
                                &:nth-child(2){
                                    img{
                                        margin-left: 7px;
                                    }
                                }
                               
                            }
                        }
                    }
                }

                ul.navigation{
                    padding-left: 0;
                    display: flex;
                    list-style: none;
                    margin-top: 2rem;

                    li{
                       a{
                            padding: 7px 16px;
                            border: solid 1px $primary-color;
                       }

                       &:not(:nth-last-child(1)){
                            a{
                                border-right: none;
                            }
                       }

                       &:nth-child(1){
                           a{
                                border-radius: 3px 0 0 3px;
                           }
                           
                        }

                        &:nth-last-child(1){
                            a{
                                border-radius: 0 3px 3px 0;
                            }
                        }

                        &.active, &:hover{
                            a{
                                background-color: $primary-color;
                                color: #fff;
                            }
                        }

                    }
                }

                &__select{
                    position: relative;
                    width: 100%;
                    padding: 0.09rem 0 0.3rem 0;

                    ul {
                        padding-left: 0;

                        > li{

                            display: inline;

                            > a{
                                padding: 0.7rem 1.5rem;
                                background-color: #fff;
                                color: $primary-color;
                                border: solid 2px $primary-color;
                                border-radius: 3px;

                                > img{
                                    width: 12px;
                                    padding-top: 5px;
                                    vertical-align: -2px;
                                    margin-left: 4px;
                                }
                                
                            }

                            .dropdown{
                                position: absolute;
                                width: 100%;
                                max-width: 600px;
                                height: auto;
                                background-color: #fff;
                                z-index: 1000;
                                padding: 1.5rem;
                                box-shadow: 0px 13px 35px -13px rgba(0,0,0,0.15);
                                top: 3.4rem;
                                display: none;

                                &__wrapper{

                                    display: flex;
                                    align-items: flex-start;

                                    ol{
                                        padding-left: 0;
                                        list-style-type: circle;
                                        li{
                                            display: block;
                                            line-height: 1.9;
                                            font-size: 0.9rem;

                                            a{
                                                color: $primary-color;

                                                &:hover, &:focus{
                                                    color: $success-color;
                                                }
                                            }
                                            

                                        }
    
                                        &:nth-child(n+2){
                                            margin-left: 3rem;
                                        }
                                    }
                                }

                            }

                            &:hover{

                                > a{
                                    background-color: $primary-color;
                                    color: #fff;
                                }

                                a ~ .dropdown{
                                    display: block;
                                    
                                    ol{
                                        li{
                                            svg{
                                                fill: #fff;
                                            }
                                        }
                                    }
                                }
                            }

                            &:nth-child(n+2){
                                margin-left: 0.75rem;
                            }

                            &.active{
                               a{
                                background-color: $primary-color;
                                color: #fff;

                                position: relative;

                                &:before{

                                    position: absolute;
                                    z-index: 1000;
                                    width: 0; 
                                    height: 0; 
                                    content: " ";
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-top: 20px solid $primary-color;
                                    bottom: -15px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                               }
                            }
                        }
                    }
                }

            }

            .news-pengumuman{

                position: relative;
                display: block;

            }

        }
    }

    .part-pengumuman{

        &__wrapper{

            display: flex;
            align-items: flex-start;

            .news-pengumuman-left{
                float: left;
                width: 31.5%;
                display: block;
            }
    
            .news-pengumuman-right{
                float: left;
                width: 67%;

                margin-top: 2rem;

                .news-title{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .image-pengumaman{

                    .slick-dots{
                        padding-left: 0;
                        margin-top: 5px;
                        text-align: center;

                        li{
                            display: inline;

                            &.slick-active{
                                button{
                                    background-color: $secondary-color;
                                }
                            }

                            &:nth-child(n+2){
                                margin-left: 0.75rem;
                            }

                        }

                        button{
                            display: inline-block;
                            font-size: 0;
                            width: 14px;
                            height: 14px;
                            background-color: rgb(182, 182, 182);
                            border: none;
                            border-radius: 50%;
                            
                        }
                    }
                }
            }

        }
    }

}

.backdrop{
    position: fixed;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    z-index: 2000;
    display: none;
}

.detail-berita{

    position: fixed;
    top: 0;
    width: 100%;
    max-width: 650px;
    height: 100%;
    right: 0;
    z-index: 2100;
    background-color: #fff;
    padding: 1.3rem;
    box-sizing: border-box;
    box-shadow: -3px 0px 22px -6px rgba(0,0,0,0.15);
    display: none;

    &.show{
        display: block;
        animation: showContent 380ms ease;

        ~ .backdrop{
            display: block;
            animation: backdrop 370ms ease;
        }

        @keyframes backdrop {
            from{
                opacity: 0;
            }

            to{
                opacity: 1;
            }
        }
    }

    @keyframes showContent{
        from{
            transform: translateY(-100%);
        }

        to{
            transform: translateY(0%);
        }
    }

    &__header{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 650px;
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;
        box-shadow: 0px 5px 52px -25px rgba(0,0,0,0.14);

        h1{
            color: $secondary-color;
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: 900;
        }
    }

    &__body{
        margin-top: 3.5rem;
        height: 100%;
        overflow-x: scroll;

        .image-article{
            width: 100%;
        }

        p{
            color: $secondary-color;
            font-size: 1rem;
            line-height: 1.5;

            &:nth-child(1){
                margin-top: 0.75rem;
            }

            &:nth-child(n+2){
                margin-top: 0.5rem;
            }
        }
    }


}