$primary-color      :   #364878;
$secondary-color    :   rgb(28, 29, 32);
$success-color      :   #FF4E16;


$extra-large-device :   1200px;
$dekstop-device     :   992px;
$tablet-device      :   768px;
$mobile-device      :   576px;


@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Rubik:500&display=swap');

$primary-fonts      :   'Rubik', sans-serif;
$secondary-fonts    :   'Lato', sans-serif;



